---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Product from "../components/ProductTile.astro";
const data = await fetch(
  `https://cdn.builder.io/api/v2/content/product?apiKey=efd91d04819a414b8d0aac3f3223e60f`
).then((res) => res.json());

const products = data.results;
---

<Layout title="Hello World">
  <Navbar />
  <ul>
    {
      products.map((product) => (
        <li>
          <Product product={product?.data} />
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  h1 {
    color: purple;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
</style>
