---
import Layout from "../layouts/Layout.astro";
const name = "Soni";
const data = await fetch(
  `https://cdn.builder.io/api/v2/content/product?apiKey=efd91d04819a414b8d0aac3f3223e60f`
).then((res) => res.json());

const products = data.results;
---

<Layout title="Hello World">
  <h1>Hello {name}</h1>

  <ul>{products.map((product) => <li>{product?.data?.name}</li>)}</ul>
</Layout>
<style>
  h1 {
    color: purple;
  }
</style>
